<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="about-section">
    <section class="section about" id="about">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">About Me</h2>
                <p class="section-subtitle">
                    Get to know more about my background, skills, and what drives me.
                </p>
            </div>
            <div class="about-container">
                <div class="about-content">
                    <div class="about-tagline">My Background</div>
                    <h3 class="about-heading">Student by Profession, Developer at Heart.</h3>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus debitis eum inventore libero magnam maiores nesciunt odit quibusdam rem veritatis. Accusantium architecto ea eaque fugit ipsum nostrum quaerat quia veniam?</p>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid amet, assumenda beatae consequatur dicta, ea eum ex excepturi fugit harum ipsum, maiores nam numquam repellendus veritatis voluptatibus? Laborum, placeat?</p>
                    <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid autem cumque dicta eaque ex fuga fugit impedit ipsam ipsum maxime, nam natus perferendis quibusdam quis quisquam soluta, tempore, unde!</p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>