<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="about-section">
    <section class="section about" id="about">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">About Me</h2>
                <p class="section-subtitle">
                    Get to know more about my background, skills, and what drives me.
                </p>
            </div>
            <div class="about-container">

            </div>
        </div>
    </section>
</th:block>
</html>