<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="achievements-section">
    <section class="section achievements" id="achievements">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Achievements</h2>
                <p class="section-subtitle">
                    Recognitions and milestones I've reached along my journey
                </p>
            </div>
            <div class="achievements-container">
                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    <h3 class="achievement-title">3rd Place & Most Creative Application Winner in Leeds AI Hackathon 2025</h3>
                    <p class="achievement-description">

                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    <h3 class="achievement-title">1st Place Winner of Pexip Sponsor Challenge in LeedsHack2025</h3>
                    <p class="achievement-description">

                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <h3 class="achievement-title">Unity Junior Programmer Pathway Completion</h3>
                    <p class="achievement-description">

                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <h3 class="achievement-title">Unity Essentials Pathway Completion</h3>
                    <p class="achievement-description">

                    </p>
                </div>

                <div class="achievement-card">
                    <div class="achievement-icon">
                        <i class="fa-solid fa-certificate"></i>
                    </div>
                    <h3 class="achievement-title">AWS Cloud Practitioner Essentials Completion</h3>
                    <p class="achievement-description">

                    </p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>