<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="contact-section">
    <section class="section contact" id="contact">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Get In Touch</h2>
                <p class="section-subtitle">
                    Have a project in mind or want to collaborate? Let's talk!
                </p>
            </div>
            <div class="contact-container">

            </div>
        </div>
    </section>
</th:block>
</html>