<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="footer-section">
    <footer class="footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-brand">
                    <a href="#" class="footer-logo">Danial Eizlan bin Daud</a>
                    <p class="footer-text">Passionate about developing software to solve real-world problems. I love helping making my own workflow more efficient, why not do the same for the world?</p>
                </div>
            </div>
        </div>
    </footer>
</th:block>
</html>